<div id="resultBox">
    <h2>Submitted information:</h2>
    <% for (var x in users) { %>
        <h3>Name: <%= users[x].name %></h3>
        <h4>quote: <%= users[x].quote %></h4>
    <% } %>
    <a href="/"><h4>Go back</h4></a>
</div>